{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load language_url %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock link %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="toggle-buttons">
        <div class="overlay"></div>
        <i class="fas fa-bars nav-toggle btn-toggle"></i>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
            <a href="{{ request.path|language_url:"ru" }}"class="language-toggle btn-toggle">ru</a>
        {% else %}
            <a href="{{ request.path|language_url:"en" }}"class="language-toggle btn-toggle">en</a>
        {% endif %}
    </div>
    <nav class="nav-hide">
        <a href="{{ request.path|language_url:LANGUAGE_CODE}}#section-photo" class="nav-element">{% trans "Home" %}</a>
        <a href="{{ request.path|language_url:LANGUAGE_CODE}}#section-about" class="nav-element">{% trans "About Me" %}</a>
        <a href="{{ request.path|language_url:LANGUAGE_CODE}}#section-projects" class="nav-element">{% trans "Last projects" %}</a>
        <a href="{{ request.path|language_url:LANGUAGE_CODE}}#section-contact" class="nav-element">{% trans "Get in touch" %}</a>
    </nav>


    <div class="wrap-type-1">
        <section id="section-photo">
            <h1>{% trans "Hi, I'm Ilshat_" %}</h1>
            <figure class="figure-photo">
                <img src="{% static 'img/self.jpg' %}" alt="my image" class="photo">
            </figure>
            
            <h3>{% trans "Pick The theme" %}</h3>
            <div class="theme-controler">
                <div data-theme="white" class="theme" id="white"></div>
                <div data-theme="blue" class="theme" id="blue"></div>
                <div data-theme="green" class="theme" id="green"></div>
                <div data-theme="purple" class="theme" id="purple"></div>
            </div>
        </section>
    </div>

    <div class="wrap-type-2">
        <section id="section-about">
            <div class="box box-about">
                <h2>{% trans "About me" %}</h2>
                <p>
                    {% blocktrans %}
                        I am a 2nd year student living in Moscow. I'm fond of programming and I want to do it professionally.             
                    {% endblocktrans %}
                </p>

                <ul class="unordered-list">
                    <li><a href="https://github.com/ilshat25" class="link">github</a></li>
                    <li><a href="https://codeforces.com/profile/Conar" class="link">codeforces</a></li>
                    <li><a href="tg://resolve?domain=ilshat2512" class="link">telegram</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="wrap-type-1">
        <section id="section-projects">
            <h2>{% trans "Last projects" %}</h2>

            {% include 'projects/project_list.html' with projects=projects %}            

            <div class="wrap-center">
                <a href="{% url 'projects:search' %}" class="btn">see more</a>
            </div>
        </section>
    </div>

    <div class="wrap-type-2">
        <section id="section-contact">
            <h2>{% trans "Get in touch" %}</h2>
            <form class="form-contact" method="POST" action="{% url 'contact:send_email' %}">
                {% csrf_token %}
                <label for="name">{% trans "Name" %}</label>
                <input required type="text" name="name">
                <label for="email"> {% trans "Email" %}</label>
                <input required type="text" name="email">
                <label for="subject">{% trans "Subject" %}</label>
                <input required type="text" name="subject">
                <label for="message">{% trans "Message" %}</label>
                <textarea required name="message"></textarea>
                <button href="#" class="btn btn-submit">{% trans "submit" %}</button>
            </form>
        </section>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/load_theme.js' %}"></script>
{% endblock scripts %}
