{% load static %}

<ul class="list-projects">
                {% for project in projects %}
                    <li class="list-item-project">
                        <a href="#">
                            <div class="box box-project">
                                <img src="{% static project.get_image %}" alt="project-img" class="box-img">
                                <div class="box-content">
                                    <ul class="list-tags">
                                        <li class="list-item-tag">C++</li>
                                        <li class="list-item-tag">Python</li>
                                        <li class="list-item-tag">Django</li>
                                    </ul>
                                    <h3>{{ project.title }}</h3>
                                    <p>{{ project.description }}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                <li class="list-item-project">
                    <a href="#">
                        <div class="box box-project">
                            <img src="{% static 'img/dog.jpg' %}" alt="project-img" class="box-img">
                            <div class="box-content">
                                <ul class="list-tags">
                                    <li class="list-item-tag">C++</li>
                                    <li class="list-item-tag">Python</li>
                                    <li class="list-item-tag">Django</li>
                                </ul>
                                <h3>Project</h3>
                                <p>Improved own provided blessing may peculiar domestic. Sight house has sex never. No
                                    visited raising gravity outward subject my cottage mr be. Hold do at tore in park
                                    feet near my case.</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item-project">
                    <a href="#">
                        <div class="box box-project">
                            <img src="{% static 'img/dog.jpg' %}" alt="project-img" class="box-img">
                            <div class="box-content">
                                <ul class="list-tags">
                                    <li class="list-item-tag">C++</li>
                                    <li class="list-item-tag">Python</li>
                                    <li class="list-item-tag">Django</li>
                                </ul>
                                <h3>Project</h3>
                                <p>Improved own provided blessing may peculiar domestic. Sight house has sex never. No
                                    visited raising gravity outward subject my cottage mr be. Hold do at tore in park
                                    feet near my case.</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>