{% extends 'core/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
{% endblock link %}

{% block title %}
    Search
{% endblock title %}

{% block content %}
    <div class="toggle-buttons">
        <a href="{% url 'index' %}"><i class="fas fa-home btn-toggle"></i></a>
        <div class="language-toggle btn-toggle">ru</div>
    </div>

    <div class="wrap">
        <section>
            <h1>My Projects</h1>
        </section>
        <section class="section-search">
            <form class="form-search" method="get" action="{% url 'projects:search' %}">
                <input type="text" name="query" placeholder="Search by tag or name...">
                <button type="submit" class="btn btn-search">search</button>
            </form>
        </section>
        <section id="section-projects">
            {% if projects %}
                {% include 'projects/project_list.html' with projects=projects %}            
            {% else %}
                <h2>No results...</h2>
            {% endif %}
        </section>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/load_theme.js' %}"></script>
{% endblock scripts %}
