:root {
    --clr-text-primary: rgb(40, 40, 40);
    --clr-text-secondary: black;

    --clr-tag-light: rgb(220,220,220);
    --clr-tag-dark: rgb(169,169,169);
    
    --clr-primary: white;
    --clr-secondary: rgb(219, 219, 219);

    --clr-link: rgb(169,169,169);
    
    --clr-shadow: black;
}